In [1]:
import h5py
import pandas as pd
import numpy as np
import gc

## Read the extracted features

In [9]:
# Baseline Path
# filename = "baseline_cityscape"
# filename = "baseline_itri"

# Adversarial Path
# filename = "adversarial_cityscape"
# filename = "adversarial_itri"

# Finetune Path
# filename = "finetune_cityscape"
# filename = "finetune_itri"

# Oracle Path
# filename = "oracle_cityscape"
filename = "oracle_itri"

path = "extracted_features/" + filename + ".hdf5"

print(path)

extracted_features/oracle_itri.hdf5

In [10]:
# Read the hdf5 file
with h5py.File(path, "r") as f:
    # List all groups
    print("Keys: %s" % f.keys())
    a_group_key = list(f.keys())[0]
    
    # Get the data
    data = list(f[a_group_key])
    
# Convert the data into dataframe
df = pd.DataFrame(np.array(data))

# Remove data to save memory
del data
gc.collect()

Keys: <KeysViewHDF5 ['baseline']>

0

In [11]:
df

,0,1,2,3,4,5,6,7,8,9,...,4087,4088,4089,4090,4091,4092,4093,4094,4095,4096
0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
1,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
2,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
3,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
4,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,0.455091,0.056086,0.822047,0.876814,0.0,0.565883,0.000000,1.338578,1.918985,0.982296,...,0.375907,1.365700,0.000000,0.000000,0.000000,0.140788,0.479034,0.0,0.000000,0.0
149996,1.840116,0.875845,1.649838,0.752650,0.0,0.950146,0.000000,0.537637,0.386597,1.412189,...,0.429266,0.559644,1.235040,0.454021,0.000000,0.000000,0.611177,0.0,0.000000,4.0
149997,2.024928,2.267748,1.032785,0.000000,0.0,0.975511,0.628509,1.283911,0.695634,0.000000,...,0.000000,2.819677,0.000000,1.691169,0.193046,0.000000,3.082198,0.0,0.000000,0.0
149998,0.553970,1.101251,1.926269,0.733161,0.0,1.199240,0.000000,1.571125,1.148042,1.022452,...,0.000000,1.377178,0.924471,0.000000,0.000000,0.000000,0.432731,0.0,0.208601,0.0
149999,0.000000,0.251879,0.470838,0.726042,0.0,0.906171,0.000000,0.863777,0.880823,0.400262,...,0.000000,0.884806,0.407263,0.000170,0.000000,0.000000,0.475861,0.0,0.000000,0.0

In [12]:
# Print the class distinct value
classValue = df[4096].unique()
print(classValue)

[0. 4. 3. 2. 1.]

In [13]:
# Remove the background class > last column == 0
df_cleaned = df[df[4096] != 0]
df_cleaned

,0,1,2,3,4,5,6,7,8,9,...,4087,4088,4089,4090,4091,4092,4093,4094,4095,4096
422,1.899730,1.263118,1.411356,0.791775,0.269360,1.249308,0.000000,0.835662,1.483220,0.623790,...,0.000000,1.403465,1.350527,0.493467,0.000000,0.000000,0.565481,0.000000,0.000000,4.0
552,2.182620,0.999254,1.430267,0.671863,0.325058,1.644038,0.000000,0.877986,1.444906,0.152653,...,0.000000,1.334346,1.547597,0.666940,0.000000,0.000000,0.382215,0.000000,0.000000,4.0
600,0.000000,0.553262,0.000000,0.000000,0.000000,0.753032,0.220899,0.752476,1.439955,0.937680,...,0.000000,0.966292,0.000000,0.000000,0.473369,0.000000,2.304316,0.000000,1.103097,4.0
601,1.922497,1.547884,1.581590,0.234048,0.000000,0.000000,0.212738,0.164665,1.465247,1.224091,...,0.000000,1.568101,0.000000,0.000000,0.435297,0.000000,2.574636,0.037127,0.620280,4.0
602,0.000000,0.000000,0.000000,0.000000,0.740045,0.605997,0.000000,0.768299,1.879855,1.823157,...,0.000000,0.700846,0.541543,0.318503,0.262206,0.000000,1.705351,0.000000,0.000000,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149972,0.000000,0.595560,0.225515,0.122688,0.908165,0.475400,0.000000,0.780242,0.992035,1.693450,...,0.365686,0.000000,1.586989,0.969941,0.620230,0.000000,0.752614,0.000000,0.000000,3.0
149979,1.498177,0.513883,2.701484,1.134126,0.000000,0.359144,0.000000,0.818650,2.100477,2.588274,...,0.188148,0.000000,1.545301,0.338989,0.141978,0.000000,1.390151,0.000000,0.122701,4.0
149987,0.746601,0.000000,1.509520,0.747190,0.000000,0.591366,0.000000,0.620848,1.927641,0.906344,...,0.000000,2.130344,0.000000,0.000000,0.000000,0.000000,0.128797,0.000000,0.000000,4.0
149989,1.219675,0.081871,1.567442,0.173108,0.000000,0.000000,0.000000,0.648697,0.128829,1.815786,...,0.000000,1.090948,1.083957,0.024571,0.007018,0.610045,1.863680,0.000000,0.000000,4.0
149996,1.840116,0.875845,1.649838,0.752650,0.000000,0.950146,0.000000,0.537637,0.386597,1.412189,...,0.429266,0.559644,1.235040,0.454021,0.000000,0.000000,0.611177,0.000000,0.000000,4.0

In [14]:
# Write into smaller CSV
out_path = "extracted_features/csv/" + filename + ".csv"
df_cleaned.to_csv(out_path, index=False, encoding='utf-8')

In [19]:
# Remove df to save memory
del df
gc.collect()

NameError: name 'df' is not defined

In [ ]:
x_features = df_cleaned.iloc[: , :-1]
y_labels = df_cleaned[4096]

In [ ]:
x_features

In [ ]:
y_labels

## Dimensionality Reduction

In [ ]:
#!pip install umap-learn
#!pip install umap-learn[plot]

In [ ]:
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.manifold import TSNE
import umap
import umap.plot

In [ ]:
# Principal Component Analysis
pca = PCA(n_components=2)
x_features_pca = pca.fit(x_features).transform(x_features)

In [ ]:
# Percentage of variance explained for each components
print('Explained variance ratio (first two components): %s' % str(pca.explained_variance_ratio_))
x_features_pca

In [ ]:
# Linear Discriminant Analysis
lda = LinearDiscriminantAnalysis(n_components=2)
x_features_lda = lda.fit(x_features, y_labels).transform(x_features)

In [ ]:
x_features_lda

In [ ]:
# T-SNE
x_features_tsne = TSNE(learning_rate=100).fit_transform(x_features)

In [ ]:
x_features_tsne

In [ ]:
# UMAP
umap_mapper = umap.UMAP().fit(x_features)

In [ ]:
umap.plot.points(umap_mapper, labels=y_labels)
# umap.plot.points(umap_mapper, labels=y_labels, color_key_cmap='Paired', background='white')
# umap.plot.diagnostic(umap_mapper, diagnostic_type='pca')

In [ ]:
# Plot the result
target_labels = np.unique(y_labels)
colors = ['navy', 'turquoise', 'darkorange', 'red']
lw = 2
alpha = .4

# PCA
plt.figure()
for color, i, target_label in zip(colors, target_labels, target_labels):
    plt.scatter(x_features_pca[y_labels == i, 0],
                x_features_pca[y_labels == i, 1],
                color=color,
                lw=lw,
                label=target_label,
                alpha=.1
                )
    plt.legend(loc='best', shadow=False, scatterpoints=1)
    plt.title('PCA of Cityscape (Baseline) Dataset')

# LDA
plt.figure()
for color, i, target_label in zip(colors, target_labels, target_labels):
    plt.scatter(x_features_lda[y_labels == i, 0],
                x_features_lda[y_labels == i, 1],
                color=color,
                lw=lw,
                label=target_label,
                alpha=.1
                )
    plt.legend(loc='best', shadow=False, scatterpoints=1)
    plt.title('LDA of Cityscape (Baseline) Dataset')

# TSNE
plt.figure()
for color, i, target_label in zip(colors, target_labels, target_labels):
    plt.scatter(x_features_tsne[y_labels == i, 0],
                x_features_tsne[y_labels == i, 1],
                color=color,
                lw=lw,
                label=target_label,
                alpha=.1
                )
    plt.legend(loc='best', shadow=False, scatterpoints=1)
    plt.title('TSNE of Cityscape (Baseline) Dataset')

plt.show()